body {
    background: #1e1e3a;
    color: #df3989;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
    border: 5px dotted #9898b0;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: #32345c;
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
    border: 10px double #9898b0;
    

}
h1 {
    display: flex;
    align-items: center;
    color: #ed0674;
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #f776b2;
    font-family:'Courier New', Courier, monospace;
}

/* main container area beneath menu */
main {
    background: #f7c1d9;
    display: flex;
    border: 10px double
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 5px dotted #f776b2;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}

        /* portfolio styles */
        .content h1 {
            color: #ed0674;
            font-family:'Courier New', Courier, monospace;
        }

        #portfolio {
            list-style-type: none;
            padding-left: 0;
        }

        #portfolio li {
            background: #e6acc6;
            padding: 15px;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        #portfolio li:hover {
            background: #59568880;
        }

        #portfolio a {
            text-decoration: none;
            color: #ed0674;
        }