
body {
  background-color: rgba(69, 13, 223, 0.849);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: rgb(166, 138, 231);
}

#score, #highScore {
  color: white;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: rgb(118, 94, 224);
  z-index: 2;
}

#snake-head {
  background-color: #f1f50a;
}

.apple {
  background-color: red;
  z-index: 1;
}